.container {
    width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

.allMessages {
    display: flex;
    flex-direction: column-reverse;
}

.messages {
    border: 1px solid black;
    margin: 5px auto;
    width: 400px;
    padding: 0 10px;
}

.dateTime {
    text-align: right;
}

.send {
    width: 450px;
    margin: 10px auto;
}

.author,
.message,
.sendBtn {
    display: block;
    margin: 15px auto;
}

.author,
.message {
    width: 100%;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.message::-webkit-input-placeholder,
.author::-webkit-input-placeholder {
    padding-left: 10px;
}